<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ming.mapper.OrdersMapper">

    <select id="queryOrderToUser" resultType="com.ming.po.OrdersEx">
        select
            orders.*,
            user.username,
            user.sex,
            user.address
        from
            orders,user
        where
            orders.user_id = user.id;
    </select>

   <!-- ****************************1:1**start**推荐************************************-->
    <resultMap id="queryOrderToUser2" type="com.ming.po.Orders">
        <!--定义orders的信息-->
        <id column="id" property="id"/>
        <result column="user_id" property="userid"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createtime"/>
        <result column="note" property="note"/>
        <!--定义orders和user之间的关系 1:1-->
        <association property="user" javaType="com.ming.po.User">
            <id column="user_id" property="id"/>
            <result column="MyName" property="username"/>
            <result column="sex" property="sex"/>
            <result column="address" property="address"/>
        </association>
    </resultMap>
    <select id="queryOrderToUser2" resultMap="queryOrderToUser2">
         select
            orders.*,
            user.username,
            user.sex,
            user.address
        from
            orders,user
        where
            orders.user_id = user.id;
    </select>
    <!-- ********************************end************************************-->



    <resultMap id="OrderToOrderdetailResultMap" type="com.ming.po.Orders">
        <!--定义orders的信息-->
        <id column="id" property="id"/>
        <result column="user_id" property="userid"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createtime"/>
        <result column="note" property="note"/>
        <!--定义User的信息1:1-->
        <!--定义orders和user之间的关系 1:1-->
        <association property="user" javaType="com.ming.po.User">
            <id column="user_id" property="id"/>
            <result column="MyName" property="username"/>
            <result column="sex" property="sex"/>
            <result column="address" property="address"/>
        </association>

        <!--1:m  order to orderdetail-->
        <collection property="orderdetailList" ofType="com.ming.po.Orderdetail">
            <id column="orderdetail_id" property="id"/>
            <result column="items_id" property="itemsId"/>
            <result column="items_num" property="itemsNum"/>
            <result column="orders_id" property="ordersId"/>
        </collection>
    </resultMap>
    <select id="queryOrderToOrderdetail" resultMap="OrderToOrderdetailResultMap">
        select
            orders.*,
            user.username as MyName,
            user.sex,
            user.address,
            orderdetail.id as orderdetail_id,
            orderdetail.items_id,
            orderdetail.items_num,
            orderdetail.orders_id
        from
            orders,
            user,
            orderdetail
        where
            orders.user_id = user.id
        and
            orders.id = orderdetail.orders_id;
    </select>



    <resultMap id="queryOrderToItemsResultMap" type="com.ming.po.Orders">
        <!--配置orders的信息-->
        <!--定义orders的信息-->
        <id column="id" property="id"/>
        <result column="user_id" property="userid"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createtime"/>
        <result column="note" property="note"/>
        <!--定义user信息-->
        <association property="user" javaType="com.ming.po.User">
            <id column="user_id" property="id"/>
            <result column="MyName" property="username"/>
            <result column="sex" property="sex"/>
            <result column="address" property="address"/>
        </association>
        <!--定义orderDetail的信息-->
        <collection property="orderdetailList" ofType="com.ming.po.Orderdetail">
            <id column="orderdetail_id" property="id"/>
            <result column="items_id" property="itemsId"/>
            <result column="items_num" property="itemsNum"/>
            <result column="orders_id" property="ordersId"/>
            <!--定义 orderdetail到items的信息-->
            <association property="items" javaType="com.ming.po.Items">
                <id column="id" property="id"/>
                <result column="name" property="name"/>
                <result column="price" property="price"/>
                <result column="detail" property="detail"/>
            </association>
        </collection>

    </resultMap>
    <select id="queryOrderToItems" resultMap="queryOrderToItemsResultMap">
        select
            orders.*,
            user.username as MyName,
            user.sex,
            user.address,
            orderdetail.id as orderdetail_id,
            orderdetail.items_id,
            orderdetail.items_num,
            orderdetail.orders_id,
            items.id,
            items.name,
            items.price,
            items.detail
        from
            orders,
            user,
            orderdetail,
            items
        where
            orders.user_id = user.id
        and
            orders.id = orderdetail.orders_id
        and
            orderdetail.items_id = items.id;
    </select>
</mapper>